<!-- 2col-cards-20221226
    - adds source (text) to output
-->

<div style="columns: 2;">
    {%- for record in records -%}
        {%- if record.name != "" -%}
            <div class="card">
                <div class="card-divider">
                    {%- if record.url -%}
                        <strong><a href="{{ record.url }}"> 
                            {{ record.title }}
                        </a></strong>
                    {%- endif -%}

                    {% if record.source -%}
                        &nbsp; ({{record.source}})
                    {% endif -%}
                </div>

                {%- if record.note -%}
                    <div class="card-section">
                        {{ record.note }}
                    </div>
                    {%- endif -%}
            </div>
        {%- endif -%}
    {%- endfor -%}
</div>
<br>