<div style="columns: 2;">
    {%- for record in records -%}
        {%- if record.name != "" -%}
            <div class="card">
                <div class="card-divider">
                    {%- if record.url -%}
                        <a href="{{ record.url }}"> 
                            {{ record.title }}
                        </a>
                    {%- endif -%}
                </div>

                <div class="card-section">
                    {%- if record.note -%}
                        {{ record.note }}
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
    {%- endfor -%}
</div>
<br>