<h2>{{post_title}}</h2>

{%- assign records = {{sourcedata}} | sort: "url" -%}

<div style="column-count: 2;">

	{%- for record in records -%}
		{%- if record.title != "" -%}

			<div class="card">

				<div class="card-divider">
					<a href="{{parent_url}}{{record.url}}" target="_blank">
						{{record.title}}</a>
				</div>

				{%- if record.img -%}
					<div class="card-image">
						<img src="{{record.img}}"/>
					</div>
				{%- endif -%}

				{%- if record.notes -%}
					<div class="card-section">
						{{record.notes}}
					</div>
				{%- endif -%}

				{%- if record.more -%}
					<div class="card-section">
						{{record.more}}
					</div>
				{%- endif -%}

			</div>

		{%- endif -%}
	{%- endfor -%}

</div>