<div class="callout">
	<h2>{{title}}</h2>
</div>

<!--
Expected data file (.yaml, .yml) record contents:
	- title: (primary index)
	  url:
	  tags:
	  px:
	  notes:
	  parent:
	  more:
-->

{%- assign records = {{sourcedata}} | sort: "url" -%}

{%- for record in records -%}
	{%- if record.title != "" -%}

		<div class="card">

			<div class="card-divider">
				<a href="{{parent_url}}{{record.url}}" target="_blank">
					{{record.title}}</a>
			</div>

			{%- if record.px -%}
				<div class="card-image">
					<img src="{{record.px}}">
				</div>
			{%- endif -%}

			{%- if record.notes -%}
				<div class="card-section">
					{{record.notes}}
				</div>
			{%- endif -%}

		</div>

	{%- endif -%}
{%- endfor -%}