<h1>{{page.title}}</h1>

<img src="{{title_pic_url}}">

{%- assign records = {{sourcedata}} | sort: "tags" | group_by: "tags" -%}

<div class="callout primary">
    <big>Tags:</big><br>
    {%- for tag in records -%}
        <a href="#{{tag.name}}">{{tag.name}}</a> &nbsp; &nbsp;
    {%- endfor -%}
</div>

{%- for tag in records -%}
    {%- if tag.name != "" -%}
        <div class="card">
        	<div class="card-divider" id="{{tag.name}}">
        		{{ tag.name }}
        	</div>

        	<div class="card-section">
        		<ul>
		        	{%- assign sorted_tag_items = tag.items | sort: "title" -%}
		        	{%- for item in sorted_tag_items -%}

	        			<li><a href="{{item.url}}" target="_blank">
	        				{{item.title}} ({{item.source}})</a>

							{%- if item.notes -%} 
							<div class="callout">{{item.notes}}</div>
							{%- endif -%}
						</li>
        			{%- endfor -%}
    			</ul>
    		</div>
    	</div>
    {%- endif -%}
{%- endfor -%}
