<h1>{{page.title}}</h1>

<img src="{{title_pic_url}}">

<!--
Expected data file (.yaml, .yml) record contents:
(THIS IS DIFFERENT THAN THE BOOKNOTES LAYOUT FOR NOW)
	- url: (primary index)
	  title:
	  tags:
	  px:
	  notes:
	  parent:
	  more:
-->

{%- assign records = {{sourcedata}} | sort: "tags" | group_by: "tags" -%}

<div class="callout primary">
    <big>Tags:</big><br>
    {%- for tag in records -%}
        <a href="#{{tag.name}}">{{tag.name}}</a> &nbsp; &nbsp;
    {%- endfor -%}
</div>

{%- for tag in records -%}
    {%- if tag.name != "" -%}
        <div class="card">
        	<div class="card-divider" id="{{tag.name}}">
        		{{ tag.name }}
        	</div>

        	<div class="card-section">
        		<ul>
		        	{%- assign sorted_tag_items = tag.items | sort: "title" -%}
		        	{%- for item in sorted_tag_items -%}

	        			<li><a href="{{item.url}}" target="_blank">
	        				{{item.title}}

		        			{%- if item.img -%}
		        				<img src="{{item.img}}" width=90%>
	    	    			{%- endif -%}<br>
	    	    		</a></li>
        			{%- endfor -%}
    			</ul>
    		</div>
    	</div>
    {%- endif -%}
{%- endfor -%}
