{% if include.compressed == true %}

	<!-- compressed format -->
	<div style="column-count: 2;">
		{%- for record in records["list"] -%}

			<div style="padding:0.5em;">

			<!-- build html link with title & url -->
			{% if record[1]['resolved_title'] == "" %}
				{% assign usethis = record[1]['resolved_url'] %}
			{% else %}
				{% assign usethis = record[1]['resolved_title'] %}
			{% endif %}

			<a href="{{record[1]['resolved_url']}}">
				{{usethis}}</a><br>

			<!-- check tags here -->
			<!--<small>tags: {{record[1]['tags']}}</small>-->
			<small>
			{% for tag in record[1]['tags'] %}
				{% if tag[0] != "python" %}
					{{tag[0]}} &nbsp; &nbsp;
				{% endif %}
			{% endfor %}
			</small><br>
			</div>

		{% endfor %}
	</div>

{% else %}

	<!-- uncompressed format (image, excerpt, title, url -->
	<div style="column-count: 2;">
	{%- for record in records["list"] -%}
		<div class="card">
			<div class="card-divider">
				
				<!-- build html link with title & url -->
				{% if record[1]['resolved_title'] == "" %}
					{% assign usethis = record[1]['resolved_url'] %}
				{% else %}
					{% assign usethis = record[1]['resolved_title'] %}
				{% endif %}

				<a href="{{record[1]['resolved_url']}}">
					{{usethis}}</a><br>
				
			</div>

			<!-- TOP_IMAGE_URL -->
			{% if record[1]['top_image_url'] %}
			<div class="card-image">
				<img class="thumbnail" src="{{record[1]['top_image_url']}}" />
			</div>
			{% endif %}
		
			<!-- EXCERPT -->
			{% if record[1]['excerpt'] != "" %}
				<div class="card-section">
					<p>{{record[1]['excerpt']}}</p>
				</div>
			{% endif %}

			<!-- check tags here 
			<code>{{record[1]['tags']}}</code> -->

		</div>
	{%- endfor -%}
	</div>

{% endif %}

