<!--
<div class="callout">
	<h2>{{page.title}}</h2>
</div>
-->

{% if page.format == "condensed" %}

<div style="columns:2;">
	{% for record in file %}
		<div class="card" style="border:1px solid lightslategray; border-radius:10px;">
			<div class="card-section" style="border-bottom:1px solid lightslategray;">
				<p><a href="{{record.url}}">{{record.title | truncate: 60}}</a></p>
			</div>
		</div>	
	{% endfor %}
</div>

{% else %}

<div style="columns:2;">
	{% for record in file %}
		<div class="card" style="border:1px solid lightslategray; border-radius:10px;">
			
			<div class="card-divider" style="border-bottom:1px solid lightslategray;">
				<strong><a href="{{record.url}}">{{record.title | truncate: 60}}</a></strong>
			</div>
			
			{% if record.cover %}
				<div class="card-image">
					<a href="{{record.url}}">
						<img src="{{record.cover}}"/></a>
				</div>
			{% endif %}

			{% if record.excerpt %}
				<div class="card-section">
					<p style="color:darkslategray;">{{record.excerpt}}</p>
				</div>
			{% endif %}

		</div>
	{% endfor %}
</div>

{% endif %}