{% if page.format == "condensed" %}

	{% for record in file %}
		<li style="list-style:none;">
			{{record.created | date: "%Y-%m-%d"}} &nbsp;
			<a href="{{record.url}}">{{record.title | truncate: 60}}</a>
			&nbsp;
			<!-- DISPLAYS ARTICLE URL DOMAIN and WHEN SAVED -->
			({{ record.url | split: '//' | last | split: '/' | first }})
		</li>

	{% endfor %}

{% else %}

<div style="columns:2;">
	{% for record in file %}
		<div class="card" style="border:1px solid lightslategray; border-radius:10px;">
			
			<div class="card-divider" style="border-bottom:1px solid lightslategray;">
				<h4><a href="{{record.url}}">{{record.title | truncate: 60}}</a></h4>
			</div>
			
			<div class="card-section">
				<!-- DISPLAYS ARTICLE URL DOMAIN and WHEN SAVED - IF NEEDED -->
				{% if page.hide_record_metadata != "hide" %}
					{{ record.url | split: '//' | last | split: '/' | first }} &nbsp;
					({{record.created | date: "%Y-%m-%d"}})
				{% endif %}
				
				<!-- DISPLAYS TAGS IF DIRECTED SO BY POST PARAMS -->
				{% if page.showtags == "showtags" %}
					<p style="text-decoration-color: red;">tags: {{record.tags}}</p>
				{% endif %}
			</div>

			{% if record.cover %}
				<div class="card-image">
					<a href="{{record.url}}">
						<img src="{{record.cover}}"
							 class="thumbnail"
						/></a>
				</div>
			{% endif %}

			{% if record.excerpt %}
				<div class="card-section">
					<p style="color:darkslategray;">{{record.excerpt}}</p>
				</div>
			{% endif %}

		</div>
	{% endfor %}
</div>

{% endif %}