---
title: ruby book notes & library links
layout: default-foundation-20210515
tags: ruby booknotes
date: 2024-02-24 10:10
---

<div class="callout">
    <h2>Ruby language booknotes</h2>
    <p> - Eloquent Ruby<br>
        - Programming Ruby<br>
        - Ruby under the Microscope<br>
        - Ruby core classes & standard library (v3.1.2).
    </p>
</div>

{%- assign sourcedata = site.data.code.ruby.v20240224_ruby | sort: "title" -%}

<div style="columns:2;">
    {% for item in sourcedata %}
        <div class="card">
            <div class="card-divider">
                <a href="{{item.url}}">{{item.title}}</a>
                    &nbsp; ({{item.source}})</div>
            {% if item.notes %}
                <div class="card-section">
                    {{item.notes}}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
