---
title: Transformer models - intro and catalog
layout: default-foundation-20210515
tags: deep-learning llms transformers arxiv
date: 2023-06-08 16:15
models:
  - ALBERT
  - Al
  - ChatGPT
  - Chinchilla
  - CLIP
  - CM3
  - CTRL
  - DALL-E
  - DALL-E2
  - Decision Transformers
  - DialoGPT
  - DistilBERT
  - DQ-BART
  - ELECTRA
  - ERNIE
  - Flamingo
  - Gato19
  - GLaM
  - GLIDE
  - Global Context ViT
  - Gopher
  - GopherCite
  - GPT21
  - GPT-2
  - GPT-3
  - GPT-3.5
  - InstructGPT
  - GPT-Neo
  - GPT-NeoX-20B
  - HTML
  - Imagen
  - Jurassic-1
  - LAMDA
  - mBART
  - Megatron
  - Minerva
  - MT-NLG (Megatron TouringNLG)
  - OPT
  - PalM
  - Pegasus
  - RoBERTa
  - SeeKer
  - Sparrow
  - StableDiffusion
  - Swin Transformer
  - Switch
  - T5
  - Trajectory Transformers
  - Transformer XL
  - Turing-NLG
  - ViT30
  - Wu Dao 2.0
  - XLM-RoBERTa
  - XLNet
resources:
  - url: https://ai.googleblog.com/2017/08/transformer-novel-neural-network.html
    name: transformers
  - url: https://machinelearningmastery.com/encoder-decoder-long-short-term-memory-networks/
    name: encoder-decoder LSTMs
  - url: https://jalammar.github.io/illustrated-transformer/
    name: 
  - url: https://huggingface.co/docs/transformers/training
    name: Transformers/training (HF)
  - url: https://magenta.tensorflow.org/music-transformer
    name: Transformers/music (HF/Magenta)
  - url: https://pytorch.org/tutorials/beginner/transformer_tutorial.html
    name: Transformers/tut (PyTorch)
  - url: https://www.tensorflow.org/text/tutorials/transformer
    name: Transformers (TF)
  - url: https://huggingface.co/docs
    name: Huffing Face docs (HF)
  - url: https://github.com/huggingface/transformers
    name: Transformers (HF)
  - url: https://openai.com/blog/openai-licenses-gpt-3-technology-to-microsoft/
    name: GPT3toMSFT (OAI)
  - url: https://openai.com/blog/gpt-3-apps/
    name: GPT3 (OAI)
  - url: https://huggingface.co/blog/rlhf
    name: RLHF (HF)
  - url: https://wandb.ai/ayush-thakur/RLHF/reports/Understanding-Reinforcement-Learning-from-Human-Feedback-RLHF-Part-1
    name: RLHF (Wiki)
  - url: https://en.wikipedia.org/wiki/Generative_adversarial_network
    name: GANs (Wiki)
  - url: https://benanne.github.io/2022/01/31/diffusion.html
    name: Diffusion (bananne.github)

---

<div class="callout">
    <a href="/pdfs/math/TRANSFORMER_MODELS.pdf">
    <img src="/px/math/transformers-paper-title.png"></a>
</div>

<div class="callout">
    <h2>links:</h2>
    {% for r in page.resources %}
        <a href="{{r.url}}">{{r.name}}</a> &nbsp;&nbsp;
    {% endfor %}
</div>

<div style="columns: 2;">

<div class="card">
    <div class="card-divider">
        <h4>Intro</h4>
    </div>
    <div class="card-section">
        Encoders & decoders<br>
        Attention modules<br>
        Transformer overview<br>
        RLHF<br>
        Diffusion<br>
    </div>
</div>

<div class="card">
    <div class="card-divider">
        <h4>Catalog</h4>
    </div>
    <div class="card-section">
        Features<br>
        The table<br>
        Family tree<br>
        Chronology<br>
        The list<br>
    </div>
</div>

{% for model in page.models %}
    <div class="card">
        <div class="card-divider">
            <h4>
                <a href="https://www.google.com/search?q={{model}}">
                    {{ model }}
            </h4>
        </div>
        <div class="card-section">
            <a href="#">test</a>
        </div>
    </div>
{% endfor %}

</div>
