---
title: Lean Analytics booknotes
layout: default-foundation-20210515
tags: booknotes prodmgmt analytics
date: 2023-06-16
outline:
  - chapter: 
    title: 1. We are all liars
    pdf: chap1.pdf
    topics:
      - name:
        text: You need to lie to yourself, but not to the point where you’re jeopardizing your business. That’s where data comes in.

      - name: (example) Airbnb Photography
        image: airbnb-nights-booked.jpg
        text: Initial tests of Airbnb’s MVP showed that professionally photographed listings got two to three times more bookings than the market average. This validated the founders’ first hypothesis. And it turned out that hosts were wildly enthusiastic about receiving an offer from Airbnb to take those photographs for them.


  - chapter:
    title: 2. How to keep score
    pdf: chap2.pdf
    topics:

      - name: What Makes a Good Metric?
        text: Comparative<br>
                Understandable<br>
                A Ratio or Rate<br>
                Changes Your Behavior<br>

      - name: Qualitative Versus Quantitative Metrics
        text: Quantitative data is nice and scientific, and (assuming you do the math right) you can aggregate it, extrapolate it, and put it into a spreadsheet. But it’s seldom enough to get a business started. You can’t walk up to people, ask them what problems they’re facing, and get a quantitative answer. For that, you need qualitative input.

      - name: Vanity Versus Real Metrics
        text: Whenever you look at a metric, ask yourself, “What will I do differently based on this information?”

      - name: Eight Vanity Metrics
        text:
            Number of hits<br>
            Page views<br>
            Visits<br>
            Unique visitors<br>
            Followers/Friends/Likes<br>
            Time on site<br>
            Emails collected<br>
            Downloads<br>


      - name: Exploratory Versus Reporting Metrics
        image: metrics-explore-vs-report.jpg

      - name: (example) Circle of Moms
        text: Circle of Friends was a social graph application in the right place at the right time—with the wrong market. By analyzing patterns of engagement and desirable behavior, then finding out what those users had in common, the company found the right market for its offering. Once the company had found its target, it focused—all the way to changing its name. Pivot hard or go home, and be prepared to burn some bridges.
        
      - name: Leading Versus Lagging Metrics
        text: A leading metric (sometimes called a leading indicator) tries to predict the future. A lagging metric indicates that there’s a problem—but by the time you’re able to collect the data and identify theproblem, it’s too late.

      - name: Correlated Versus Causal Metrics
        text: You prove causality by finding a correlation, then running an experiment in which you control the other variables and measure the difference. This is hard to do because no two users are identical.

      - name: Moving Targets
        text: You prove causality by finding a correlation, then running an experiment in which you control the other variables and measure the difference. This is hard to do because no two users are identical.

      - name: (example) HighScore House
        text: HighScore House drew an early, audacious line in the sand—which it couldn’t hit. The team experimented quickly to improve the number of active users but couldn’t move the needle enough. They picked up the phone and spoke to customers, realizing that they were creating value for a segment of users with lower usage metrics.

      - name: Segments
        text: simply a group that shares some common characteristic.

      - name: Cohorts
        text: Users who join you in the first week will have a different experience from those who join later on.

      - name: A/B Testing
        text: studies in which different groups of test subjects are given different experiences at the same time are called cross-sectional studies.

      - name: Multivariate Analysis
        image: analytics-variants.jpg

      - name: Lean Analytics Lifecycle
        image: circle-of-life.jpg

      - name: Metrics Evaluations
        text: How many of those metrics are good metrics? How many do you use to make business decisions, and how many are just vanity metrics? Can you eliminate any that aren’t adding value? Are there others that you’re now thinking about that may be more meaningful?

  - chapter: 
    title: Deciding what to do 
    pdf: chap3.pdf
    topics:
      - name: intro
        text: The reason you want to be lean and analytical about the process is so that you don’t waste your life building something nobody wants.

      - name: <a href="http://leancanvas.com">The Lean Canvas</a>
        image: lean-canvas.jpg

      - name: What Should You Work On?
        image: bud-caddell-diagram.jpg

      - name: Create a Lean Canvas


  - chapter: 
    title: 4. Data driven vs data informed
    pdf: chap4.pdf
    topics:
      - name: Data Scientist mistakes
        text: assuming data is clean<br>
              not normalizing<br>
              excluding outliers<br>
              including outliers<br>
              ignoring seasonality<br>
              ignoring size when reporting growth<br>
              data vomit<br>
              metrics that cry wolf<br>
              "not collected here" syndrome<br>
              focusing on noise<br>

  - chapter: 
    title: 5. Analytics frameworks
    pdf: chap5.pdf
    topics:
      - name: Dave McClure’s Pirate Metrics
        image: metrics-pirate.jpg

      - name: Eric Ries’s Three Engines of Growth
        text: 1. sticky engines<br>
              2. virality engines<br>
              3. payment engines<br>

      - name: Ash Maurya’s Lean Canvas
      - name: Sean Ellis’s Startup Growth Pyramid
        image: ellis-startup-pyramid.jpg
      - name: The Long Funnel
        image: google-visitor-flow-funnel.jpg
      - name: Stages & Gates
        image: stages-and-gates.jpg

  - chapter: 
    title: 6. The one metric that matters (OMTM)
    pdf: chap6.pdf
    topics:
      - name: (example) Moz
      - name: Four Reasons to Use OMTM
        text: 1. It answers the most important question you have<br>
              2. It forces you to draw a line in the sand<br>
              3. It focuses the entire company<br>
              4. It inspires a culture of experimentation<br>

      - name: (example) Solare
        text: “Every day, my staff tells me the ratio of staff costs to gross revenues for the previous day,”

      - name: Drawing Lines in the Sand
      - name: (analogy) The Squeeze Toy
        text: If you optimize your business on one metric, something important happens. Just like one of those bulging stress-relief squeeze toys, squeezing it in one place makes it bulge out in another. And that’s a good thing. Optimizing your OMTM not only squeezes that metric so you get the most out of it, but it also reveals the next place you need to focus your efforts.

      - name: Define Your OMTM

  - chapter: 
    title: 7. Which business model?
    pdf: chap7.pdf
    topics:
        - name: Intro
          text: Business growth comes from improving one of these five “knobs”:<br>
                1. more "stuff"<br>
                2. more people<br>
                3. more often (stickiness)<br>
                4. more money (upselling, ...)<br>
                5. more efficiency<br>

        - name: About Those People (Personas)
          text: 
            Segmenting real from casual users depends on how much effort your users have to put into using the application.

        - name: The Business Model Flipbook
          image: flipbooks.jpg
          text: 1. acquisition channel<br>
                2. selling tactic<br>
                3. revenue source<br>
                4. product type (value you offer)<br>
                5. delivery model<br>

        - name: Flipbook Variants
          image: flipbooks-to-dropbox.jpg
          text: There’s an advantage to using a flipbook structure - it encourages lateral thinking. Each turn of a “page” is a pivot - what would it mean to offer Dropbox as a physical delivery? Or to charge up front for it? Or to rely on paid advertising?

#        - name: Six Business Models


  - chapter: 
    title: E-commerce models
    pdf: chap8.pdf
    topics:
      - name: Variants
      - name: Practical Example - metrics to consider
        text: Conversion Rate<br>
              Purchases/Year<br>
              Shopping Cart Size<br>
              Abandon Rate<br>
              Acquisition Cost<br>
              Revenue/Customer<br>

      - name: (example) Wine Express
        image: wine-express.jpg
        text: It decided to tackle the “Wine of the Day” page—which features a single wine option that ships for just 99 cents.

      - name: Keywords & Search Terms
      - name: Recommendation Acceptance Rate
      - name: Virality
      - name: Mailing List Clickthrough Rate
        image: email-gauntlet.jpg
      - name: Offline & Online Combinations
      - name: Shipping Time
      - name: Stock Availability
      - name: Workflow
        image: ecommerce-workflow.jpg
      - name: Wrinkles - Traditional vs Subscription E-commerce
      - name: Key Points

  - chapter: 
    title: SaaS models
    pdf: chap9.pdf
    topics:
      - name: (example) Backupify
      - name: Measuring Engagement
      - name: Churn
      - name: Workflow
        image: saas-workflow.jpg
      - name: (example) Clearfit
      - name: Wrinkles - Freemium, Tiers, other Pricing models
      - name: Key Points

  - chapter: 
    title: Mobile app (free)
    pdf: chap10.pdf
    topics:
      - name: Monetization
        text:
          <p>Downloadable content (ex - maps)<br>
            Avatar  flair & customization<br>
            Advantages (ex - game weapons)<br>
            Time savings<br>
            Countdown timer elimination<br>
            Upselling<br>
            In-game ads</p>
      - name: Installation Volume
      - name: Revenue/User (ARPU)
      - name: Workflow
      - name: Pct Paying Users
      - name: Churn
      - name: Worfklow
        image: mobile-app-lifecycle.jpg
      - name: Wrinkles - in-app Monetization vs Ads
      - name: Key Points

  - chapter: 
    title: Media site
    pdf: chap11.pdf
    topics:
      - name: Intro
      - name: Audience & Churn
      - name: Inventory
      - name: Performance & Sessions/Clicks
      - name: Ad Rates
      - name: Content/Ad tradeoffs
      - name: Workflow
        image: media-customer-lifecycle.jpg
      - name: Wrinkles - Hidden Affiliates, Background Noise, Ad Blockers, Paywalls
      - name: Key Points

  - chapter: 
    title: User-generated content
    pdf: chap12.pdf
    topics:
      - name: Intro
        image: social-net-tiers.jpg
      - name: Visitor Engagement
      - name: Content Creation & Interaction
      - name: Engagement Funnel Changes
      - name: Content Value
      - name: Content Sharing & Virality
      - name: Notifications
      - name: Workflow
        image: social-net-tiers.jpg
      - name: Wrinkles - Passive Content Creation
      - name: Key Points

  - chapter: 
    title: Two-sided markets
    page: 169
    pdf: chap13.pdf
    topics:
      - name: Intro
      - name: (example) DuProprio Watches
      - name: Buyer vs Seller Addition Rates
      - name: Inventory Growth Rate
      - name: Buyer Searches
      - name: Conversion Rates & Segmentation
      - name: Buyer & Seller Ratings
      - name: Flagged Listings
      - name: Workflow
        image: social-net-tiers.jpg
      - name: Wrinkles - Chicken & Egg, Fraud, Keeping the Transaction, Auctions
      - name: Key Points

  - chapter: 
    title: What stage are you at?
    pdf: chap14.pdf
    topics:
      - name: Intro
        image: lean-analytics-stages.jpg
      - name: Pick Your Stage


  - chapter: 
    title: Stage 1 - empathy
    pdf: chap15.pdf
    topics:
      - name: Metrics
      - name: Finding Problems Worth Solving
      - name: Problem Validation
        text: <p>Pain level<br>
                Enough people care<br>
                Already trying to solve the problem</p>
      - name: Signs You've Found a Problem worth Solving
      - name: Conducting Interviews
      - name: Avoid "Leading" the Witness
      - name: Convergent & Divergent Problem Interviews
      - name: Pain Level
        image: lean-analytics-stages.jpg
      - name: Already Trying to Solve?
        image: is-interviewee-trying-to-solve-it.jpg
      - name: Engaged & Focused?
        image: is-interviewee-trying-to-solve-it.jpg
      - name: Followup Agreement?
        image: followup-agreed-to.jpg
      - name: Referrals Offered?
        image: followup-agreed-to.jpg
      - name: Immediate Payment Offered?
        image: followup-agreed-to.jpg
      - name: (example) Cloud9 IDE
      - name: How are People Solving the Problem Now?
      - name: Are There Enough Caring People?
      - name: What's Needed to Create Awareness?
      - name: Customer "Day in the Life"
        image: officedrop-users.jpg
      - name: Finding People to Interview
        image: twitter-adv-search.jpg
      - name:
        image: linkedin-search.jpg
      - name:
        image: facebook-search.jpg
      - name: Getting Answers at Scale
      - name: (example) LikeBright "Mechanical Turks"
      - name: Creating an Answers-at-Scale Campaign
      - name: How to Validate
      - name: (example) Localmind
      - name: Before Launching an MVP
      - name: Deciding What Goes into the MVP
      - name: Measuring the MVP
      - name: (example) StaticPixel
      - name: Summary
      - name: Next Stage?

  - chapter: 
    title: Stage 2 - Stickiness
    pdf: chap16.pdf
    topics:
      - name: MVP Stickiness
      - name: Iterating
      - name: (example) qidiq
        image: stickiness-comparison.jpg
      - name: Premature Virality
      - name: The Goal is Retention
      - name: Seven Questions Before Building a Feature
        text: <p>Why will it make things better?<br>
                Measureable effect?<br>
                How Long to Build?<br>
                Overcomplication?<br>
                Build Risk?<br>
                How Innovative is it?<br>
            What do Users *say* they want?</p>
      - name: (example) Rally
      - name: How to Handle User Feedback?
        image: mint-app-store-page.jpg
      - name: Minimum Viable Vision
      - name: Problem-Solution Canvas
        image: weekly-learning-summary.jpg
      - name: (example) VNN
      - name: Summary
      - name: Next Stage?

  - chapter: 
    title: Stage 3 - Virality
    pdf: chap17.pdf
    topics:
      - name: How Things Spread
        text: Inherent Virality<br>
                Artificial Virality<br>
                Word-of-Mouth Virality<br>
      - name: Metrics
      - name: Beyond the Viral Coefficient
      - name: (example) Timehop
      - name: Instrumentation
        image: email-invite-loop.jpg
      - name: Growth Hacking
        text: <p>Leading Indicators<br>
                Correlation<br>
                Causation</p>
      - name: Summary
      - name: Next Stage?


  - chapter: 
    title: Stage 4 - Revenue
    pdf: chap18.pdf
    topics:
      - name: Metrics
      - name: The Penny Machine
      - name: Finding your Revenue Groove
      - name: Customer Lifetime Value (CLV) > Customer Acquisition Cost (CAC)
      - name: (example) Parse.ly
      - name: Market/Product fit
      - name: Breakeven Lines in the Sand
      - name: Summary

  - chapter: 
    title: Stage 5 - Scale
    pdf: chap19.pdf
    topics:
      - name: The Hole in the Middle
      - name: Metrics
      - name: Is My Model Right?
      - name: (example) Buffer
      - name: Three-Threes
      - name: Scale & Discipline
      - name: Summary

  - chapter: 
    title: Model plus stage equals target metric
    pdf: chap20.pdf
    topics:
      - name: Stages & Gates
        image: stages-and-gates.jpg

  - chapter: 
    title: Am I good enough?
    pdf: chap21.pdf
    topics:
      - name: (example) WP Engine
      - name: Average IS NOT Good Enough
      - name: What is Good Enough?
      - name: Growth Rate
      - name: Number of Engaged Visitors
      - name: Pricing
      - name: (example) Socialight
      - name: Cost of Customer Acquisition (CAC)
      - name: Virality
      - name: Mail List Effectiveness
      - name: Uptime & Reliability
      - name: Site Engagement
      - name: Web Performance
      - name: Make Your Own Lines in the Sand

  - chapter: 
    title: Ecommerce Metrics
    pdf: chap22.pdf
    topics:
      - name: Conversion Rates
      - name: Shopping Cart Abandonment
      - name: Search Effectiveness

  - chapter: 
    title: Saas Metrics
    pdf: chap23.pdf
    topics:
      - name: Paid Enrollment
      - name: Freemium vs Paid
      - name: Upselling
      - name: Churn
      - name: (example) OfficeDrop


  - chapter: 
    title: Mobile app Metrics
    pdf: chap24.pdf
    topics:

        - name: Mobile download size
        - name: Mobile customer acquisition cost
        - name: (example) Sincerely challenges
        - name: App launch rate
        - name: Percent active mobile users
        - name: Percent paying mobile users
        - name: Average daily revenue per user
        - name: Average monthly revenue per user
        - name: Average total revenue per user
        - name: App rating clickthrough
        - name: Customer lifetime value
          image: loyalty-by-app-category.jpg

  - chapter: 
    title: Media site Metrics
    pdf: chap25.pdf
    topics:
        - name: Clickthrough rates
        - name: Sessions-to-clicks ratio
        - name: Referrers
        - name: Engaged time
        - name: Engagement hints - goals & behaviors
        - name: Sharing
        - name: (example) JFL gags & YouTube

  - chapter: 
    title: 26. UGC site Metrics
    pdf: chap26.pdf
    topics:
        - name: Content upload success
        - name: Time on-site per day
        - name: (example) Reddit, part 1
        - name: Engagement funnel changes
        - name: (example) Reddit, part 2
        - name: Spam & bad content

  - chapter: 
    title: Marketplace Metrics
    pdf: chap27.pdf
    topics:
        - name: Transaction size
        - name: (example) What Etsy watches
        - name: Top 10 lists

  - chapter: 
    title: What to do when you dont have a baseline
    pdf: chap28.pdf
    topics:
        - name: visits & enrollments timeline
          image: visits-enrollments-timeline.jpg

  - chapter: 
    title: Enterprise markets
    pdf: chap29.pdf
    topics:
        - name: Why Are Enterprise Customers Different?
        - name: Legacy Products
        - name: The Enterprise Startup Lifecycle
        - name: (example) How Coradiant Found a Market
        - name: So What Metrics Matter?
        - name: The Bottom Line - Startups Are Startups

  - chapter: 
    title: Intrapeneurs
    pdf: chap30.pdf
    topics:
        - name: Span of Control and the Railroads
        - name: Skunk Works for Intrapreneurs
        - name: Changing—or Innovating to Resist Change?
        - name: Stars, Dogs, Cows, and Question Marks
        - name: (example) Swiffer Gives Up on Chemistry
        - name: (example) Doritos Chooses a Flavor
        - name: Working with an Executive Sponsor
        - name: (example) EMI Embraces Data to Understand Its Customers
        - name: The Stages of Intrapreneur Lean Analytics


  - chapter: 
    title: Conclusion
    pdf: chap31.pdf
    topics:
      - name: How to instill a data culture
        text:
            <p>Start Small, Pick One Thing, and Show Value.<br>
                Make Sure Goals Are Clearly Understood<br>
                Get Executive Buy-in<br>
                Make Things Simple to Digest<br>
                Ensure Transparency<br>
                Don’t Eliminate Your Gut<br>
            Ask Good Questions</p>

#  - chapter: 
#    title: References
#    pdf: chap31.pdf
#    topics:

---

{% assign pixpath = "/px/prodmgmt/lean-analytics" %}
{% assign pdfpath = "/pdfs/prodmgmt/lean-analytics" %}

<div class="callout">
</div>

<div style="columns: 2;">

{% for chapter in page.outline %}

<div class="card">
    <div class="card-divider">
        <h4><a href="{{pdfpath}}/{{chapter.pdf}}">
            {{chapter.title}}</a></h4>
    </div>

    {% if chapter.topics %}
        {% for topic in chapter.topics %}
            <div class="card-section">
                <p><strong>{{topic.name}}</strong></p>

                {% if topic.image %}
                    <div class="card-image">
                        <img src="{{pixpath}}/{{topic.image}}">
                    </div>
                {% endif %}

                {% if topic.text %}
                    <p><blockquote>{{topic.text}}</blockquote></p>
                {% endif %}

            </div>
        {% endfor %}
    {% endif %}

</div>

{% endfor %}

</div>
